{% extends "base.html" %} {% block content %}


<div class="aboutText">
    <div class="aboutTitle">About the Problem </div>
    Year after year, the number of people choosing organic food is growing. However, a multitude of colorful labels and
    ambiguous terms make it difficult for consumers to keep track.

    The current nutrition report of the German government shows that many buyers are still guided by the broad
    advertising on the packaging. These suggest an ideal, healthy world with blooming meadows and happy animals, but
    also tempt consumers not to find out more about the product. This is often referred to as <i>Greenwashing</i> <a
        href="https://www.bund.net/massentierhaltung/haltungskennzeichnung/bio-siegel/"><sup>1</sup></a> <br> <br>

    During my time, studying the subject I came across this quote that inspired this website:
    <div class="quote">"As a consequence, <i>ecological education</i> is a crucial tool of communication and information
        and
        its
        goal should be to achieve a situation in which the consumer is <i>consciously able to interpret eco-labels</i>
        and on
        their basis make the right product choices. If this pre-condition is not satisfied, information overload from
        advertisements and marketing campaigns will lead to target group members misinterpreting messages from
        broadcasters." <a href="https://www.sciencedirect.com/science/article/abs/pii/S0195925520307836"
            style="font-size: 1rem;"><sup>2</sup></a></div>
    That is why I started this website: To make it easier for consumers to make informed decisions. That means, being
    able to distinguish between those Ecolabels that are actually doing something good for the environment and
    greenwashed products that just "pretend" they do. <br>
    The Test is meant to help you streamline the process of finding a label that you can always rely on if there are too
    many confusing
    labels or you lack information about their standards and the quality of their products. You just select the criteria
    that are important for you and your budget and I will try to show you the label that fit to most of your standards.
    <br> <br>

    <div class="parallax"></div>


    <div class="aboutTitle"> So, Greenwashing you say? </div>
    Greenwashing refers to a company's attempt to achieve a "green image" through marketing and PR measures, but without
    implementing corresponding measures as part of the value creation process. In this way, consumers are led to believe
    that the company is environmentally friendly and responsible even when the company uses this measure to disguise
    opposing activities that are harmful to the environment.<br><br>
    In 2007, in an effort to describe, understand and quantify the growth of greenwashing, TerraChoice,
    developed and launched a study of environmental claims made on products carried on category-leading big box store
    shelves. Based on the results of the original study and subsequent studies, the Seven Sins of Greenwashing were
    developed to help consumers identify products that made misleading environmental claims: <a
        href="https://www.ul.com/insights/sins-greenwashing"><sup>3</sup></a>
    <ol>
        <li><b>Sin of the hidden trade-off </b> <br>
            A claim suggesting that a product is green based on a narrow set of attributes without attention to other
            important environmental issues. Paper, for example, is not necessarily environmentally preferable because it
            comes from a sustainably harvested forest. Other important environmental issues in the paper-making process,
            such as greenhouse gas emissions or chlorine use in bleaching, may be equally important.</li>

        <li><b>Sin of no proof</b> <br>
            An environmental claim not substantiated by easily accessible supporting information or by a reliable
            third-party certification. Common examples are facial tissues or toilet tissue products that claim various
            percentages of post-consumer recycled content without providing evidence.</li>

        <li><b>Sin of vagueness</b><br>
            A claim that is so poorly defined or broad that its real meaning is likely to be misunderstood by the
            consumer. All-natural is an example. Arsenic, uranium, mercury, and formaldehyde are all naturally
            occurring, and poisonous. All natural isn’t necessarily green.</li>

        <li><b>Sin of worshiping false labels</b><br>
            A product that, through either words or images, gives the impression of third-party endorsement where no
            such endorsement exists; fake labels, in other words.
        </li>

        <li><b>Sin of irrelevance</b><br>
            An environmental claim that may be truthful but is unimportant or unhelpful for consumers seeking
            environmentally preferable products. CFC-free is a common example, since it is a frequent claim despite the
            fact that CFCs (chlorofluorocarbons) are banned under the Montreal Protocol.
        </li>

        <li><b>Sin of lesser of two evils</b><br>
            A claim that may be true within the product category but that risks distracting the consumer from the
            greater environmental impacts of the category as a whole. Organic cigarettes or fuel-efficient sport-utility
            vehicles could be examples of this sin.
        </li>

        <li><b>Sin of fibbing</b><br>
            Environmental claims that are simply false. The most common examples are products falsely claiming to be
            ENERGY STAR® certified or registered.
        </li>
</div>

{% endblock %}