<html>

<head>
    <title> {{ page_title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_mobile.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <span class="logo"> <a href="/">LABEL VIEW </a></span>
    <div class="box">
        <table>
            <td><a href="/quiz"> Quiz </a></td>
            <td><a href="/overview"> Label Overview </a></td>
            <td><a href=""> Glossary </a></td>
        </table>
    </div>

    <main>
        {% block content%} {% endblock %}
    </main>
    <footer>
        <span class="logo"> <a href="/">LABEL VIEW </a></span> <br><br><br>
        <a href="">Contact</a> <a href="">Glossary</a> <a href="/overview">Overview</a> <a href="/quiz">Quiz</a> <a
            href="">Resources</a>
    </footer>
</body>