{% extends "base.html" %} {% block content %}
<div class="aboutText">
    <div class="aboutTitle">Resources </div>
    <div class="resourceTitle">Useful Websites </div>
    <p>
        <a href="https://utopia.de/"> https://utopia.de/</a><br>

        Utopia is a german Website, that offers userful information about healthy veganisism, living and consuming more
        sustainably, as well as summarizing Information about ecolabels and comparing the most important labels with
        each
        other. The Articles are well written and have helped me a lot during my research about this website.
    </p>
    <br>
    <p>
        <a href="https://label-online.de/"> https://label-online.de/</a><br>

        Label-online is also a german website, that has a vast database of almost every ecolabel and ecobrand in Germany
        and Europe. It offers information about each label, as well as their own assessement about it based on clear
        criteria. I have used this website to research about different labels in Germany and have adopted their criteria
        in the governance section of the test.
    </p>
    <br>
    <p>
        <a href="https://siegelcheck.nabu.de/"> https://siegelcheck.nabu.de/</a><br>

        Siegelcheck is available as an app and as a website. It is a very useful while shopping because you can scan the
        label and it returns information about the label and an assessement about the quality.
    </p>
</div>


{% endblock %}