body {
  font-family: Arial, sans-serif;
  font-size: 3vh;
  margin: 0;
}

.logo {
  padding: 0.5vh 0 0 3vh;
  float: left;
  font-size: 3vh;
  width: 5%;
}

.logo a {
  text-decoration: none;
  letter-spacing: 0.03em;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #846c59;
}

table {
  float: right;
  border-collapse: collapse;
}

td {
  margin: auto 3rem auto 3rem;
  height: 7.5vh;
}

table a {
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 0;
  transition: 0.5s;
  color: #b9aba0;
  padding: 1vh 3vw;
}

table a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background: #846c59;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: center;
}

table a:hover {
  color: #846c59;
}

table a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.box {
  width: 98%;
  height: 7.5vh;
  border: 2px solid #b9aba0;
  margin: 1rem;
  font-size: 2vh;
}

#coverImage {
  width: 63vw;
  position: absolute;
  left: 13rem;
  top: 15rem;
  opacity: 0.9;
}

a {
  color: #fff;
}

.homepage a {
  color: #3b6858;
  font-weight: bold;
  text-decoration: none;
}

.link {
  position: absolute;
  z-index: 10;
  width: 25vw;
  height: 15vh;
  background-color: #bcd5cc;
  left: 57vw;
  top: 65vh;
  text-align: center;
  padding-top: 10vh;
  transition: 0.4s;
}

.link:hover {
  box-shadow: -1.5rem 1.5rem #3b6858;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #846c59;
  padding: 4rem 0 0 4rem;
}

form {
  font-size: 2vh;
  margin: 1rem 4rem 4rem 4rem;
  padding: 2rem 4rem 4rem 6rem;
  border-radius: 5px;
  color: #614e3e;
}

/* The container */
label {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  font-size: 22px;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #b9aba0;
  padding: 1rem 5rem;
  transition: 0.3s;
  border-radius: 5px;
  color: #614e3e;
}

label:hover {
  background-color: #eee4dc;
}

/* Hide the browser's default checkbox */
label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 1.1rem;
  left: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #b9aba0;
}

.container .checkmark {
  position: absolute;
  top: 1.1rem;
  left: 1rem;
  height: 25px;
  width: 25px;
  background-color: #b9aba0;
  border-radius: 50%;
}

/* When the checkbox is checked, add a blue background */
label input:checked ~ .checkmark {
  background-color: #614e3e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input {
  margin-left: 3rem;
}

#submit {
  width: 100%;
  margin: 5rem 0 0 0;
  padding: 1rem;
  background-color: #b9aba0;
  font-weight: bold;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  transition: 0.2s;
  border-radius: 5px;
}

#submit:hover {
  background-color: #917b6a;
  cursor: pointer;
  box-shadow: -10px 10px #614e3e;
}

.labelview {
  margin: auto 5vw 10vh 5vw;
}

.labelview hr {
  width: 100%;
  float: none;
  margin-left: 4vw;
  color: #b9aba0;
}

.labelview .labelName {
  margin: 4vh 0 0 0vw;
  color: #614e3e;
  font-size: 2.5rem;
}

.labelName {
  text-align: left;
}

.aboutText a:hover {
  color: #917b6a;
}

.labelview #labelLogo {
  width: 20vw;
  float: right;
  margin-top: 8rem;
  padding: 0 5vw 5vh 5vw;
}

.labelview .title {
  margin: 7vh 0 0 4vw;
  color: #b9aba0;
}

.labelview p {
  margin: 2vh 0 0 4vw;
  color: #614e3e;
  text-align: justify;
  font-size: 1rem;
}

p a {
  color: #614e3e;
  font-size: 1rem;
}

footer {
  margin: 50vh 1rem 1rem 1rem;
  width: 98%;
  border: 2px solid #b9aba0;
  font-size: 2vh;
  text-align: center;
  padding: 5rem 0;
}

footer .logo {
  float: none;
}

footer .logo a {
  color: white;
}

footer a {
  color: #b9aba0;
  text-decoration: none;
  margin: 2vh;
  transition: 0.5s;
}

h2 {
  color: #b9aba0;
}

.border {
  border: 1px solid #b9aba0;
  padding: 3rem 5rem 8rem 0;
  margin-bottom: 15vh;
}

.homepage {
  height: 73vh;
}

.result {
  font-size: 1rem;
  margin: 1vh 5vw;
  color: #614e3e;
}

.resultTitle {
  margin: 7vh 5vw 0 5vw;
  color: #b9aba0;
  font-size: 2rem;
}

.icon {
  width: 15px;
}

.noResult {
  text-align: center;
  margin: 8vh 5vw;
  color: #614e3e;
}

button {
  padding: 1rem;
  background-color: white;
  border: 1px solid #b2a397;
  border-radius: 5px;
  margin: 1rem auto auto 40vw;
  width: 16vw;
  transition: 0.3s;
}

button a {
  color: #614e3e;
  text-decoration: none;
  font-size: 1rem;
}

button:hover {
  background-color: #b9aba0;
}

hr {
  color: #b9aba0;
  border: 1px solid #b2a397;
}

.aboutTitle {
  font-size: 2rem;
  text-align: center;
  color: #7d7066;
  margin: 10vh 0 5vh 0;
}

.aboutText {
  color: #7d7066;
  margin: 5vh 10vw;
  font-size: 1.1rem;
  line-height: 2rem;
  hyphens: auto;
  text-align: justify;
}

.parallax {
  /* The image used */
  background-image: url("https://www.codecheck.info/news/bilder/Gemueseregal-im-Supermarkt-650x371-1-55135.jpeg");
  height: 60%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutText a {
  color: #614e3e;
  text-decoration: none;
}

ol li {
  margin-bottom: 1rem;
}

.tip {
  color: #917b6a;
  padding: 0 0 0 4rem;
  font-size: 1.2rem;
}

abbr {
  position: relative;
}

abbr:hover::after {
  position: absolute;
  bottom: 2.6rem;
  left: 0%;
  display: block;
  padding: 1rem;
  background: #614e3e;
  color: white;
  content: attr(title);
  font-size: 1rem;
  border-radius: 10px 10px 0 0;
}

.quote {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2rem;
  color: #614e3e;
}

.headline {
  background-color: #e9e0d9;
  color: #5f5955;
  font-weight: bold;
  width: 25rem;
  height: 16rem;
  z-index: 10;
  position: absolute;
  left: 10rem;
  top: 10rem;
  box-shadow: 1.5rem 1.5rem #605248;
}

.headline .text {
  margin: -1rem auto auto -0.8rem;
  width: 67%;
}

.resourceTitle {
  font-size: 1.5rem;
  margin: 3rem 0;
}

iframe {
  width: 100vw;
  height: 100vh;
  border: none;
}
